.cards{
    border-color: #A646A5;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    
}

.textChat{
    color:#A646A5;
    font-size:2rem;
    margin-left: 1rem;
}
.phonepic{
    width: 2rem;
    height: 2rem;
}

.scrollpic{
    width:2rem;
    height:60rem
}