.circle{
    position: absolute;
    top:15%;
    left:-30%
}

.rainbow{
    position: absolute;
    top: 20%;
    right:-10%;

}

.circleImage{
    width:30rem;
    height:30rem

}
.quoteImage{
    width:9rem

}
.cardWidth{
width:55rem;
height:auto;
padding:2rem
}
.lineWidth{
   width:25rem
}
.cardpic{
    width:20rem;
    height:50rem;
}

.buttonBackColor{
    background-image: linear-gradient(to bottom right, #587BEA,#A646A5);
    border-radius: 10rem;
}
.space{
    margin-bottom: 10rem;
}
.businesspic{
    width:70rem;
    height:70rem
}

.buttonColor{
    background-color:#A646A5 ;
    border-radius: 2rem;
    width:30rem;
    height:7rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user{
    width:12rem
}
.linesWidth{
    width:40rem
}
.tick{
    width:4rem;
    height:4rem
}

.circle{
    position: absolute;
    top:15%;
    left:-30%
}

.rainbow{
    position: absolute;
    top: 20%;
    right:-10%;

}

.circleImage{
    width:30rem;
    height:30rem

}

.rainbowimage{
    width:80rem;
    height:80rem

}

