.explain{
  background-color: #A646A5;
}

.borderField{
    border-color:#3B3B3B;
    border-top: #3B3B3B;
    background-color: black;
   
}

.rotateText{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    
    font-weight: bold;

   
}
.arrow{
    width:1rem;
    height:1rem

}

.rotateChart{
   width:60rem;
   height:60rem
}
.fieldWidth{
    width:40rem;
   
}